<div>
    <h2 id="page-heading">
        <span jhiTranslate="fullCalendarApp.calendar.home.title">Calendars</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-calendar" [routerLink]="['/calendar/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="fullCalendarApp.calendar.home.createLabel">
            Create a new Calendar
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'fullCalendarApp.calendar.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="calendars?.length === 0">
        <span jhiTranslate="fullCalendarApp.calendar.home.notFound">No calendars found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="calendars?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uid"><span jhiTranslate="fullCalendarApp.calendar.uid">Uid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="fullCalendarApp.calendar.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subTitle"><span jhiTranslate="fullCalendarApp.calendar.subTitle">Sub Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="fullCalendarApp.calendar.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="longDescription"><span jhiTranslate="fullCalendarApp.calendar.longDescription">Long Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="fullCalendarApp.calendar.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="fullCalendarApp.calendar.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ownedByLogin"><span jhiTranslate="fullCalendarApp.calendar.ownedBy">Owned By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let calendar of calendars ;trackBy: trackId">
                    <td><a [routerLink]="['/calendar', calendar.id, 'view']">{{ calendar.id }}</a></td>
                    <td>{{ calendar.uid }}</td>
                    <td>{{ calendar.title }}</td>
                    <td>{{ calendar.subTitle }}</td>
                    <td>{{ calendar.description }}</td>
                    <td>{{ calendar.longDescription }}</td>
                    <td>{{ calendar.createdAt | date:'medium' }}</td>
                    <td>{{ calendar.updatedAt | date:'medium' }}</td>
                    <td>
                        {{ calendar.ownedByLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/calendar', calendar.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/calendar', calendar.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(calendar)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="calendars?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
